@import "src/asset/theme";

.backPage {
  height: 100vh;
  //border: 1px solid red;
  animation: $fadeIn-animation 0.6s ease;
  transition: transform, background-image 0.6s ease;
  background-size: 100% 100%;
}

.main {
  backdrop-filter: blur(130px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .wrapper {
    //border: 1px solid red;
    height: 80vw;
    width: 80vw;
    flex-grow: 1;
    margin: 110px auto 0 auto;

    .img {
      height: 80vw;
      width: 80vw;
      border-radius: 50%;
    }
  }

  .opts {
    align-items: center;
    padding-bottom: 90px;
    display: flex;
    justify-content: space-around;
    font-size: 90px;
  }
}
